#Authentication
GOOGLE_ID=539274404382-l20u9jeime5dc6j070f68lh4rev2vgs7.apps.googleusercontent.com
GOOGLE_SECRET=OZZOj8YN60ASe5yEXWJ6cEYE
NEXTAUTH_URL=http://localhost:3000

#Stripe
STRIPE_PUBLIC_KEY=key_goes_here
STRIPE_SECRET_KEY=key_goes_here

#Stripe Terminal/CLI
STRIPE_SIGNING_SECRET=key_goes_here

HOST=http://localhost:3000

# Need to add this to... google cloud
# http://localhost:3000/api/auth/callback/google