/* Tailwind Css Settings */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .line--1 {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .line--2 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .line--3 {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

/* Swiper JS Settings */
.swiper-button-next,
.swiper-button-prev {
  color: #94a3b8 !important;
  background-color: white;
  opacity: 0.5 !important;
  scale: 54%;
  height: 60px !important;
  width: 60px !important;
  border-radius: 50%;
}
.swiper-pagination-bullet {
  background-color: #94a3b8 !important;
  scale: 50%;
}
